* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGIN */
.login-page {
  background: url("/static/img/img-noite.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 420px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: #ffffff;
  padding: 30px 40px;
}
.container h1 {
  text-align: center;
  font-family: "Righteous", sans-serif;
  font-size: 36px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #b4b2b2;
  opacity: 0.7;
}

.input-box i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.entrar {
  font-family: "Righteous", sans-serif;
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.Barra-de-Navegação {
  position: absolute;
  /* Posiciona o elemento de forma absoluta na tela (ou dentro do elemento pai) */
  top: 0;
  /* Cola o elemento no topo */
  left: 0;
  /* Cola o elemento na esquerda */
  width: 100%;
  /* Faz o retângulo ocupar toda a largura da tela */
  height: 60px;
  /* Define a altura do retângulo como 60 pixels */
  background: linear-gradient(to bottom, #000000, #3d3d3d);
  /* Degradê roxo da esquerda para a direita */
  display: flex;
  /* Ativa o Flexbox para alinhar conteúdo dentro do retângulo */
  align-items: center;
  /* Centraliza o conteúdo verticalmente */
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente */
  font-size: 18px;
  /* Define o tamanho da fonte */
  z-index: 1000;
  /* Faz o elemento ficar acima dos outros */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* Adiciona uma sombra abaixo do retângulo */
  border-radius: 0 0 12px 18px;
  /* Arredonda apenas os cantos inferiores (esquerdo e direito) */
}

.brand-logo {
  color: white;
  font-family: "Righteous", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.brand-logo:hover {
  color: #ada1a1;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 15px 0;
}

.esqueci-senha {
  color: #ada1a1;
  text-decoration: none;
  font-size: 14px;
  font-family: "Righteous", sans-serif;
}

.esqueci-senha:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Remove o roxo e estiliza o checkbox */
input[type="checkbox"] {
  accent-color: white; /* troca a cor de destaque */
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.remember-me {
  display: flex;
  font-size: 14px;
  color: #ffffff;
  font-family: "Righteous", sans-serif;
  flex-direction: row;
}

.home-page {
  background: url("/static/img/img-noite.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lista-home {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-family: "Righteous", sans-serif;
  color: white;
  z-index: 1000;
}

.add-home {
  text-align: center;
  font-size: 23px;
  color: white;
  margin: 0 0 40px 0;
  font-family: "Righteous", sans-serif;
}

.row-home {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.validate {
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  padding: 20px 45px 20px 20px;
  cursor: pointer;
}

.validate:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-home {
  background-color: transparent;
  color: white;
  border: 1px solid #9e9595;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0px;
  transition: background-color 1s;
}

.button-home:hover {
  background-color: #000000;
}

.tarefas-home {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: "Righteous", sans-serif;
  color: rgb(0, 0, 0);
}

.tarefas-lista {
  display: flex;
  justify-content: center;
  margin: 0px;
}
