* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", sans-serif;
}

/* LOGIN */
.login-page {
  background: url("/static/img/img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num-sei {
  margin-top: 20px;
  margin-bottom: -15px;
  color: #ffffff;
  font-size: 15px;
  font-family: "Righteous", sans-serif;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.num-sei-cad {
  color: #857b7b;
  text-decoration: none;
  transition: color 0.3s;
}

.num-sei-cad:hover {
  color: #2b2b2b;
  text-decoration: underline;
}


.container {
  width: 350px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.005);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container h1 {
  text-align: center;
  font-family: "Righteous", sans-serif;
  font-size: 36px;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #b4b2b2;
  opacity: 0.7;
}

.input-box i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.entrar {
  font-family: "Righteous", sans-serif;
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #868686;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: background-color 1s;
}

.entrar:hover {
  background-color: #2e2e2e;
}

.Barra-de-Navegação {
  position: absolute;
  /* Posiciona o elemento de forma absoluta na tela (ou dentro do elemento pai) */
  top: 0;
  /* Cola o elemento no topo */
  left: 0;
  /* Cola o elemento na esquerda */
  width: 100%;
  /* Faz o retângulo ocupar toda a largura da tela */
  height: 60px;
  /* Define a altura do retângulo como 60 pixels */
  background: linear-gradient(to left, #2C3E50, #4B3B2B);
  /* Degradê roxo da esquerda para a direita */
  display: flex;
  /* Ativa o Flexbox para alinhar conteúdo dentro do retângulo */
  align-items: center;
  /* Centraliza o conteúdo verticalmente */
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente */
  font-size: 18px;
  /* Define o tamanho da fonte */
  z-index: 1000;
  /* Faz o elemento ficar acima dos outros */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  /* Adiciona uma sombra abaixo do retângulo */
  border-radius: 0 0 12px 18px;
  /* Arredonda apenas os cantos inferiores (esquerdo e direito) */
}

.brand-logo {
  color: white;
  font-family: "Righteous", sans-serif;
  font-size: 24px;
  text-decoration: none;
}

.brand-logo:hover {
  color: #ada1a1;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin: 15px 0;
}

.esqueci-senha {
  color: #857b7b;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
  font-family: "Righteous", sans-serif;
}

.esqueci-senha:hover {
  color: #2b2b2b;
  text-decoration: underline;
}

/* Remove o roxo e estiliza o checkbox */
input[type="checkbox"] {
  accent-color: white; /* troca a cor de destaque */
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.remember-me {
  display: flex;
  font-size: 14px;
  color: #ffffff;
  font-family: "Righteous", sans-serif;
  flex-direction: row;
}

.home-page {
  background: url("/static/img/img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lista-home {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-family: "Righteous", sans-serif;
  color: white;
  z-index: 1000;
}

.add-home {
  text-align: center;
  font-size: 23px;
  color: white;
  margin: 0 0 40px 0;
  font-family: "Righteous", sans-serif;
}

.row-home {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.tarefas-loop {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tarefas-itens {
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.2);
  animation: fadeIn 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1); /* leve transparência */
  padding: 8px 12px;
  border-radius: 8px;
  margin: 6px 0;
  list-style: none; /* tira bolinha */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.delete-btn {
  margin: 0px 0px 0px 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #ff6b6b; /* vermelho bonito */
  transition: 0.3s;
}

.delete-btn:hover {
  color: #ff3b3b; /* vermelho mais forte */
  transform: scale(1.2);
}


.validate {
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  padding: 20px 45px 20px 20px;
  cursor: pointer;
}

.validate:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-home {
  background-color: transparent;
  color: white;
  border: 1px solid #9e9595;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0px;
  transition: background-color 1s;
}

.button-home:hover {
  background-color: #000000;
}

.tarefas-home {
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: "Righteous", sans-serif;
  color: rgb(0, 0, 0);
}

.tarefas-lista {
  display: flex;
  justify-content: center;
  margin: 0px;
}


.cadastrar-page {
  background: url("/static/img/img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cadastrar-form {
  width: 350px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.005);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-cad {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 15px 0;
}

.input-cad input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  outline: none;
  padding: 20px 45px 20px 30px;
}

.cadastrar-form p {
  color: #ffffff;
}

.cadastre-se {
  margin: 0px 0px 20px 0px;
}

.input-cad i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.input-cad::placeholder {
  color: #b4b2b2;
  opacity: 0.7;
}

.button-cad {
  font-family: "Righteous", sans-serif;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #868686; /* cor e espessura da borda */
  border-radius: 10px;
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: background-color 1s, border-color 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-cad:hover {
  background-color: #2e2e2e;
}

.num-sei-log {
  color: #857b7b;
  text-decoration: none;
  transition: color 0.3s;
}

.num-sei-log:hover {
  color: #2b2b2b;
  text-decoration: underline;
}