<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>



<body class="{{ body_class }}">
    <header class="Barra-de-Navegação">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Lista de Tarefas</a>
            {% block navegacao %}{% endblock %}
        </div>
    </header>


    {% block content %}{% endblock %}
</body>

</html>