{% extends 'base.html' %}

{% block content %}
<div class="conteiner-cadastrar">
  <form action="/cadastrar" method="post">
    <div class="cadastrar-form">
      <h1 class="cadastre-se">Cadastre-se</h1>
      <p>Já tem uma conta? <a href="{{ url_for('login') }}" class="num-sei-log">Faça login</a></p>
      <div class="input-cad">
        <input type="email" name="email" placeholder="E-mail" required>
        <i class='bx bx-envelope'></i>
      </div>

      <div class="input-cad">  
        <input type="password" name="senha" placeholder="Senha" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
      
      <div class="input-cad">
        <input type="password" name="confirmar_senha" placeholder="Confirme a Senha" required>
        <i class='bx bxs-lock-alt'></i>
      </div>
        <button type="submit" class="button-cad">Cadastrar</button>
    </div>
  </form>
</div>
{% endblock %}
