{% extends 'base.html' %} {% block content %}

<div class="container-home">
  <h1 class="lista-home" id="scramble-text">Bem-Vindo(a)!</h1>

  <h5 class="add-home" id="digitando-texto"></h5>

  <!-- Formulário para adicionar tarefas -->
  <form action="/adicionar_tarefa" method="POST">
    <div class="row-home">
      <div class="input-home">
        <input
          id="tarefa"
          type="text"
          class="validate"
          name="tarefa"
          placeholder="Digite sua tarefa"
          required
        />
      </div>
      <button type="submit" class="button-home">Adicionar Tarefa</button>
    </div>
    <!-- Botão de submit dentro do form -->
  </form>

  <div class="tarefas-home">
    <h4 class="tarefas-lista">
      <em>Tarefas:</em>
    </h4>
    <ul class="tarefas-loop">
      {% for tarefa in tarefas %}
      <li class="tarefas-itens">
        <span>{{ tarefa }}</span>
        <form action="/deletar_tarefa/{{ loop.index0 }}" method="POST">
          <button type="submit" class="delete-btn">
            <i class="bx bx-trash"></i>
          </button>
        </form>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
  const texto = "Adicione suas Tarefas:";
  const elemento = document.getElementById("digitando-texto");
  let index = 0;

  function digitarTexto() {
    if (index < texto.length) {
      elemento.innerHTML += texto.charAt(index);
      index++;
      setTimeout(digitarTexto, 100);
    }
  }

  window.onload = digitarTexto;

  // Efeito de texto embaralhado
  const el = document.getElementById("scramble-text");
  const finalText = "Bem-Vindo(a)!";
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";

  let iteration = 0;

  const interval = setInterval(() => {
    el.innerText = finalText
      .split("")
      .map((letter, index) => {
        if (index < iteration) {
          return finalText[index];
        }
        return letters[Math.floor(Math.random() * letters.length)];
      })
      .join("");

    if (iteration >= finalText.length) {
      clearInterval(interval);
    }

    iteration += 1 / 4; // velocidade
  }, 50);
</script>

{% endblock %}
