{% extends 'base.html' %}

{% block content %}

<main class="container">
    <form action="/home">
        <h1>Login</h1>
        <div class="input-box">
            <input type="text" placeholder="Usuario" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Senha" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="remember-forgot">
            <label class="checkbox">
                <input type="checkbox">
                Lembrar-me
            </label>
            <a href="#" class="esqueci-senha">Esqueceu a senha?</a>
        </div>
        <button type="submit" class="entrar">Login</button>
    </form>
</main>
{% endblock %}